<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="container-fluid fixed-bottom" style="background-color:white; border-top:solid 0.5px #37ab9d;">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">利用規約</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">プライバシーポリシー</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">お問い合わせ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">会社情報</a></li>
        </ul>
        <p class="text-center text-muted fs-6">&copy; NutritionDelivery 2022</p>
    </footer>
</div>
</html>